.calculator-container {

    display: block;
    max-width: fit-content;
    
    border: 2px;
    margin: auto;
    padding: 30px;
    background-color: darkcyan;
    border-radius: 5%;
}

#numberDisplay {
    color: black;
}

#equationDisplay {
    color: lightgrey;
}
/*
#inner-calc  {
    display: flex;
    max-width: fit-content;
    flex-direction: column;
    color: black;
    background-color: lightgrey;
} */

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

#clear {
    position: relative;
    right: -90px;
}

button {
display: inline-block;    
border-radius: 15%;
font-size: 3ch;
width: 2em;
margin: .25em;

}

.display-container {


max-width: fit-content;
font-family: 'Droid Serif';
font-size: 3vw;
}

#errorDisplay {
    color: red;
   font-size: 2vw;
   font-weight: bold ;
   max-width: 50%;
}