h1 {

    text-align: center;
}

.calc-container {
    
    display: flex;
    justify-content: center;
    display: block;
    height: 400px;
    width: 400px;
    background-color: whitesmoke;

}
#inner-calc {
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 50px auto ;
    grid-row-start: 2;
    height: 300px;
    width: 300px;
    background-color: grey;
}

#numberkey {
    
    height: auto;
    width: 1fr;
}

button {
    
    height: 50px; 
    width: 50px;  

}

#equals {
background-color:lightblue;

}

#display {
align-items: right;
}

#operators {

    display: block;
    width: 50%;

}

#errorDisplay {
    color: red;

}

#equationDisplay {
    color: grey;

}