h1 {

    text-align: center;
}

.calc-container {
    display: flex;
    justify-content: center;
    display: block;
    height: 600px;
    width: 1000px;
    background-color: whitesmoke;
}
#inner-calc {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 1fr);
    height: 300px;
    width: 600px;
    background-color: grey;
}

button {
height: 2fr; 
width: 2fr;  

}

#equals {
background-color:lightblue;

}

#operators {

    display: block;
    width: 50%;
}